<a class="item">
  <div class="item-rating">
    <i class="pi pi-star-fill mr-1"></i>
    <span>{{ item?.vote_average?.toFixed(1)?.toString() }} / 10 </span>
  </div>
  <div class="item-image">
    @if (item?.backdrop_path) {
      <img
        src="{{ imageBaseUrl + 'w780' + item?.backdrop_path }}"
        alt="{{ item?.original_title }}"
      />
    } @else {
      <img
        src="https://static.wixstatic.com/media/4b4d1c_b163665d59f3472ebabeb1b2a322eb9b~mv2.png"
        alt="{{ item?.original_title }}"
      />
    }
  </div>
  <div class="item-title">{{ item?.title }}</div>
</a>
