header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #212121;
    border-bottom: 1px solid #414141;

    .logo {  
        img {
            width: 150px;
            height: 100%;
            margin-left: 10px;
        }
    }


    .navigation {
        ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline;
                margin-right: 20px;
                a {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }
}